.normal {
  --main-background: rgba(245, 105, 98, 0.1);
  --login-background: #FD9697;
  --account-background: #F6F7FB;


  --navbar: #544E7A;
  --primary: #F56962;
  --border: #CAC6D4;
  --footer: #282834;
  --footer-text: #91929A;
  --footer-divider: #3f3f48;
  --hero-text: #5f5982;
  --primary-shadow: #f5b5b0;
  --second-section-background: #efeff6;
  --lessons: #fef0ef;
  --third:   #6C63FF;
  --review: #DDF7FF;
  --progress: #43C8B1;
}
